body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 80px auto;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    background: #020617;
    padding: 10px;
    border-radius: 6px;
}
